@model List<STAJ22001.Models.CustomerViewModel>

@{
    ViewData["Title"] = "i dont know man";
}

<h3>@ViewData["Title"]</h3>
<form>
    <button asp-action="Create" asp-controller="Employee" class="btn btn-primary">Creater employee</button>
    <table class="table table-responsive table-hover">
        <thead>
            <tr class="table-active">
                <th>Id</th>
                <th>Name</th>
                <th>asdas</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.Type</td>
                        <td>@customer.CreatedBy</td>
                        <td>@customer.CustomerId</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@customer.CustomerId" class="btn btn-primary">Edit</a>
                                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@customer.CustomerId" class="btn btn-danger">del</a>
                            </div>
                        </td>
                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            data got lost 
                        </div>

                    </td>
                </tr>

            }
        </tbody>
    </table>
</form>